root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{c,h,cmake,txt}]
indent_style = space
indent_size = 2

[*.{cmake}]
indent_style = tab
indent_size = 2

[*.{xml,yml}]
indent_style = space
indent_size = 2

[config]
indent_style = space
indent_size = 2
